<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LiveRequestInvokerSoap" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IAuthWrapper" />
        <binding name="FirstCentralNigeriaWebServiceSoap" allowCookies="true"
          maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap1" />
        <binding name="ServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap12">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="WeatherSoap" />
        <binding name="ServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap2" />
        <binding name="FirstCentralNigeriaWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap3" />
        <binding name="FirstCentralNigeriaWebServiceSoap4" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap2" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap5">
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap3">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap3" />
        <binding name="FirstCentralNigeriaWebServiceSoap6" />
        <binding name="LiveRequestInvokerSoap4" />
        <binding name="LiveRequestInvokerSoap5" />
        <binding name="WeatherSoap1" />
        <binding name="ServiceSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap5" />
        <binding name="ServiceSoap6" />
        <binding name="ServiceSoap7">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap8" />
        <binding name="ServiceSoap9">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap10" />
        <binding name="FCUBSCLServiceSEIBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LiveRequestInvokerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="LiveRequestInvokerSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ServiceSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="LiveRequestInvokerSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap123">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="WeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap123">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap124">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ServiceSoap125">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx"
        binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap"
        contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap" />
      <endpoint address="http://10.238.19.27/ACCESS_STAFF/Service.asmx?wsdl"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="TwoFactorAuthSoapService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap4"
        contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap1" />
      <endpoint address="https://10.111.13.47:7082/firstcentral?wsdl"
        binding="customBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap121"
        contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap121" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/LiveRequestInvoker.asmx"
        binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap2"
        contract="ESBCRCService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap1" />
      <endpoint address="https://10.111.13.47:7082/crcweb?wsdl" binding="customBinding"
        bindingConfiguration="LiveRequestInvokerSoap121" contract="ESBCRCService.LiveRequestInvokerSoap"
        name="LiveRequestInvokerSoap121" />
      <endpoint address="http://10.238.19.27/ACCESS_STAFF/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap3"
        contract="Service.ServiceSoap" name="ServiceSoap1" />
      <endpoint address="http://10.238.19.27/ACCESS_STAFF/Service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap122"
        contract="Service.ServiceSoap" name="ServiceSoap12" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap5"
        contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap2" />
      <endpoint address="https://10.111.13.47:7082/firstcentral" binding="customBinding"
        bindingConfiguration="FirstCentralNigeriaWebServiceSoap122"
        contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap12" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx"
        binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap1"
        contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap2" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx"
        binding="customBinding" bindingConfiguration="LiveRequestInvokerSoap12"
        contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap12" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/LiveRequestInvoker.asmx"
        binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap3"
        contract="ESBCRCService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap3" />
      <endpoint address="https://10.111.13.47:7082/crcweb" binding="customBinding"
        bindingConfiguration="LiveRequestInvokerSoap122" contract="ESBCRCService.LiveRequestInvokerSoap"
        name="LiveRequestInvokerSoap122" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap2"
        contract="ESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap3" />
      <endpoint address="https://10.111.13.47:7082/firstcentral" binding="customBinding"
        bindingConfiguration="FirstCentralNigeriaWebServiceSoap123"
        contract="ESBFirstCentralService.FirstCentralNigeriaWebServiceSoap"
        name="FirstCentralNigeriaWebServiceSoap122" />
      <endpoint address="http://ho-bespoke07.nigeria.firstbank.local/FbnAlertWS/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="FbnAlertWS.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherSoap1"
        contract="TestService.WeatherSoap" name="WeatherSoap" />
      <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
        binding="customBinding" bindingConfiguration="WeatherSoap12"
        contract="TestService.WeatherSoap" name="WeatherSoap12" />
      <endpoint address="http://ho-bespoke07.nigeria.firstbank.local/EntrustWrapper/AuthWrapper.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthWrapper"
        contract="TwoFactorAuthService.IAuthWrapper" name="BasicHttpBinding_IAuthWrapper" />
      <endpoint address="https://10.111.13.47:7080/Service" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap4" contract="TwoFactorAuthSoapService.ServiceSoap"
        name="ServiceSoap2" />
      <endpoint address="https://10.111.13.47:7082/Service" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap1" contract="TwoFactorAuthSoapService1.ServiceSoap"
        name="ServiceSoap3" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralnigeriawebservice/FirstCentralNigeriaWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap"
        contract="XDSWebService.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap" />
      <endpoint address="http://10.239.45.114/Draxla_Express/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap6"
        contract="DraxlaExpress.ServiceSoap" name="ServiceSoap4" />
      <endpoint address="http://10.239.45.114/Draxla_Express/Service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap123"
        contract="DraxlaExpress.ServiceSoap" name="ServiceSoap121" />
      <endpoint address="https://10.238.22.27/ACCESS_STAFF/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap7"
        contract="ACESS_STAFF.ServiceSoap" name="ServiceSoap5" />
      <endpoint address="https://10.238.22.27/ACCESS_STAFF/Service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap124"
        contract="ACESS_STAFF.ServiceSoap" name="ServiceSoap122" />
      <endpoint address="https://10.238.19.26/DraxlaExpress/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap9"
        contract="Mz2FAService.ServiceSoap" name="ServiceSoap6" />
      <endpoint address="https://10.238.19.26/DraxlaExpress/Service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap125"
        contract="Mz2FAService.ServiceSoap" name="ServiceSoap123" />
      <endpoint address="http://10.239.45.21:7001/FCUBSCLService/FCUBSCLService"
        binding="basicHttpBinding" bindingConfiguration="FCUBSCLServiceSEIBinding"
        contract="FCUBSCLServiceKenya.FCUBSCLServiceSEI" name="FCUBSCLServiceSEI" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>